<footer>
      <nav class="navbar navbar-dark bg-dark">
        <div class = "container w-100 position-relative">
        <!--Left Footer Content-->
          <h6 class = "navbar-text mb-0 float-start">&copy; Copyright 2025. All rights reserved</h6>  
        <!--Center Footer Content-->  
          <div class="footer-img mx-auto text-center">
            <img src="/Asset/images/wk301-178.png" alt="Logo" width="120">
            <p class="mb-0">alexander.waiganjo@ontariotechu.net</p>
          </div>
          <!--Right Footer Content--> 
          <div class="float-end">
            <a target="_blank" class="social-item" href="https://github.com/AMW310" title="Alex's GitHub">
            <i class="fa-brands fa-github"></i>
            
            <a target="_blank" class="social-item" href="linkedin.com/in/alexander-waiganjo-a59091292" title="Alex's Linkdin">
            <i class="fa-brands fa-linkedin"></i>
          </div>
          
        </div>
      </nav>
      </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>