<%- include ./partials/header.ejs%>
<%- include ./partials/main_nav.ejs%>
<h1>My <%= title %> Page</h1>
<main class="projects clearfix">
    <div class="project-item">
        <h2>Blastphemy</h2>
        <img src="\Asset\images\BlastphemyImg.png" alt="IMG" width="150">
        <p>
            Blastphemy was the first game I created during my first year in the program. 
            I contributed as a programmer, sound designer, composer, technical artist, and designer. 
            The project was completed over a single semester and was nominated for Best First-Year Game, 
            ultimately winning the Ubisoft Choice Award.</p>
    </div>
    <div class="project-item">
        <h2>Arbiter's Descent</h2>
        <img src="\Asset\images\ArbitersIMG.png" alt="IMG" width="150">
        <p>
            Arbiter's Descent was developed during my second year of university. I served as a level designer, 
            composer, technical artist, and animator. This project spanned two semesters and led to our team being 
            invited to the annual LevelUp Game Showcase in Toronto.</p>
    </div>
    <div class="project-item">
        <h2>Captive Thoughts</h2>
        <img src="\Asset\images\CaptiveIMG.png" alt="IMG" width="150">
        <p>
            Captive Thoughts was a weekend long game jam project completed with two other team members. 
            My responsibilities included programming, design, and sound design. While we did not win the jam, 
            the project strengthened my ability to rapidly develop and polish an engaging game under tight time constraints.</p>
    </div>
    <div class="project-item">
        <h2>Gubbo</h2>
        <img src="\Asset\images\GubboIMG.png" alt="IMG" width="150">
        <p>
            Gubbo was the most recent project I completed during my third year. I contributed as an enemy programmer, animator, 
            technical artist, designer, and composer. The project had a two-semester timeline, with additional design work completed 
            over the summer, making it the largest scope project I have undertaken so far.</p>
    </div>
</main>
<%- include ./partials/footer.ejs%>
